<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <mat-card-title>Country Visits</mat-card-title>
    <mat-card-subtitle>Visit from the contries</mat-card-subtitle>
    <div id="main" style="width: 100%; height: 360px;"></div>
    
  </mat-card-content>
  <mat-card-content class="p-24 p-t-16">
    <div class="d-flex align-items-center justify-content-between gap-30">
      <div class="d-flex gap-12">
        <i-tabler
          name="circle-filled"
          class="text-accent icon-12 d-flex"
        ></i-tabler>
        <span class="mat-subtitle-2">India</span>
      </div>
      <div class="d-flex gap-12">
        <i-tabler
          name="circle-filled"
          class="text-primary icon-12 d-flex"
        ></i-tabler>
        <span class="mat-subtitle-2">USA</span>
      </div>
      <div class="d-flex gap-12">
        <i-tabler
          name="circle-filled"
          class="text-gray-100 icon-12 d-flex"
        ></i-tabler>
        <span class="mat-subtitle-2">Arica</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
