<mat-card class="cardWithShadow">
  <mat-card-content class=" p-24">
    <form [formGroup]="addForm" (ngSubmit)="saveDetail()">
      <div class="row justify-content-between m-b-24">
        <div class="col-sm-4 d-flex align-items-center">
          <h4 class="mat-subtitle-2 f-s-18 f-w-600">
            #
            <span *ngIf="estimate.id!=0" name="id" formControlName="id">
              {{ estimate.id }}</span>
          </h4>
        </div>
        <div class="col-sm-4 text-right">
          <a routerLink="/apps/estimate" mat-stroked-button color="warn" class="m-r-10">
            Cancel
          </a>
          <button mat-raised-button color="primary" (click)="saveDetail()" [disabled]="addForm.invalid">
            'Add Estimate'
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row p-y-24 justify-content-between">
        <div class="col-sm-6 d-flex align-items-center">
          <div class="d-flex align-items-center w-100">
            <span class="f-w-600 f-s-15 mat-body-1 m-r-4">Status:</span>
            <mat-form-field appearance="outline" class="theme-select">
              <mat-select formControlName="draft">
                <mat-option [value]="true"> Draft </mat-option>
                <mat-option [value]="false"> Approved </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4 d-flex align-items-center">
          <div class="d-flex align-items-center w-100 justify-content-end">
            <span class="f-w-600 f-s-15 mat-body-1 m-r-4">
              Order Date
            </span>
            <!-- <h6 name="date" class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2" formControlName="date">
              {{ estimate.date | date : "dd-MM-yyyy" }}
            </h6> -->
            <mat-form-field appearance="outline" class="w-60 hide-hint">
              <input matInput [matDatepicker]="picker" placeholder="Enter Date" name="date" formControlName="date">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" class="w-80 hide-hint">
              <input matInput placeholder="Enter Date" name="date" formControlName="date">
            </mat-form-field> -->
          </div>
        </div>
      </div>


      <div class="row  ">
        <div class="col-sm-6">

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Customer</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Customer" matInput [formControl]="customercontrol"
              [matAutocomplete]="customer_auto">
            <mat-autocomplete #customer_auto="matAutocomplete" [displayWith]="displayCustomer">
              <mat-option *ngFor="let customer of filteredContacts | async" [value]="customer">
                {{customer.name}} {{customer.last_name}} <span *ngIf="customer.razon_social"
                  class="f-s-8 f-w-400 ">"{{customer.razon_social}}"</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>CUIT/DNI</mat-label>
            <input matInput placeholder="CUIT / DNI" name="cuit" [value]="customercontrol.value?.doc_number" readonly />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Enter From Address" name="fromAddress" [value]="customercontrol.value?.email" readonly />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cellphone</mat-label>
            <input matInput placeholder="Enter To Address" name="toAddress" [value]="customercontrol.value?.cellphone" readonly />
          </mat-form-field>
        </div>
      </div>
    </form>


    <div [formGroup]="addForm">
      <div class="table-responsive">
        <table class="table table-hover b-1 no-wrap w-100 rounded">
          <thead>
            <tr>
              <th class="p-16">#</th>
              <th class="p-16">Nombre del Artículo</th>
              <th class="p-16">Precio Unitario</th>
              <th class="p-16">Cantidad</th>
              <th class="p-16">Precio Total</th>
              <th class="p-16"></th>
            </tr>
          </thead>
          <tbody>
            @for(row of addForm.get('lines')['controls']; track row; let index = $index) {
            <tr>
              <td class="p-16">
                {{ index + 1 }}
              </td>

              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input type="text" matInput [formControl]="itemcontrol" [matAutocomplete]="autoitem"
                    placeholder="Search item" (ngModelChange)="onItemSelected($event, row)">
                  <mat-autocomplete #autoitem="matAutocomplete" [displayWith]="displayItem"
                    (optionSelected)="onItemSelected($event.option.value, row)">
                    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
                      {{item.name}} -{{item.category}}

                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

              </td>

              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input type="number" matInput class="form-control" min="1" [formControl]="row.get('unit_price')"
                    (input)="itemsChanged()" readonly />
                </mat-form-field>
              </td>

              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input type="number" matInput class="form-control" min="1" [formControl]="row.get('amount')"
                    (input)="itemsChanged()" />
                </mat-form-field>
              </td>

              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input [disabled]="true" matInput matInput class="form-control" [formControl]="row.get('item_total')"
                    [value]="
                        row.get('unit_price').value * row.get('amount').value
                      " />
                </mat-form-field>
              </td>

              <td>
                @if(index > 0) {
                <button color="warn" mat-icon-button (click)="onRemoveRow(index)" class="d-flex justify-content-center">
                  <i-tabler name="trash" class="icon-18 d-flex"></i-tabler>
                </button>
                }
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="text-right m-t-30">
        @if(addForm.get('lines')['controls'].length < 1 ) {
        <button color="primary" mat-flat-button (click)="onAddRow()" [disabled]="addForm.invalid">
          Add row
        </button>
        }

        <h5 class="m-b-5 f-w-600 f-s-16">Sub total: {{ subTotal }}</h5>
        <h5 class="f-w-600 f-s-16">Total Vat: {{ vat }}%</h5>
        <mat-divider></mat-divider>
        <h3 class="m-b-0 p-t-20 f-s-18">Grand Total: {{ grandTotal }}</h3>
      </div>
    </div>
  </mat-card-content>
</mat-card>